<ng-include src="'/html/partials/menu.html'"></ng-include>

<div class="span9">

    <ul class="breadcrumb">
        <li><a href="#">Home</a> <span class="divider">/</span></li>
        <li>{{race.name}} <span class="divider">/</span></li>
        <li class="active">Závod {{challengeId}}</li>
    </ul>

    <ul class="nav nav-tabs">
        <li class="active"><a href="#home" data-toggle="tab">Zadání výsledků</a></li>
        <li><a href="#results" data-toggle="tab" ng-click="resultButtonClicked(selectedResult, race)">Pořadí závodu</a></li>
    </ul>


    <div class="tab-content">
        <div class="tab-pane active" id="home">
            <div class="btn-toolbar">
                <div class="btn-group">
                    <button ng-repeat="ride in rideFilterList" ng-click="rideButtonClicked(ride.id)" class="btn"
                            ng-class="getRideButtonClass(ride.id)">{{ride.label}}
                    </button>
                </div>
                <div class="btn-group">
                    <button ng-repeat="ride in rideFilterList2" ng-click="rideButtonClicked(ride.id)" class="btn"
                            ng-class="getRideButtonClass(ride.id)">{{ride.label}}
                    </button>
                </div>
                <div class="btn-group">
                    <button ng-repeat="ride in rideFilterList3" ng-click="rideButtonClicked(ride.id)" class="btn"
                            ng-class="getRideButtonClass(ride.id)">{{ride.label}}
                    </button>    
                </div>        
            </div>
            <form name="form" class="css-form" novalidate>

                <table class="result-table table table-condensed table-striped">
                    <thead>
                    <th>Tým</th>
                    <th>Jezdec</th>
                    <th>Motokára</th>
                    <th>Nejlepší čas</th>
                    <th>Startovní pozice</th>
                    <th>Umístění</th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="ride in rideRounds[selectedRide]">
                        <td>{{ride.team.name}}</td>
                        <td>{{ride.driver.name + ' ' + ride.driver.surname}}</td>
                        <td>{{ride.kart.number}}</td>
                        <td>
                            <input type="text" ng-model="ride.bestTime" name="bestTime{{ride.id}}" class="input-small"
                                   ui-mask="'9:99:999'"/>
                        </td>
                        <td><input type="text" ng-model="ride.startPosition" class="input-mini" disabled/></td>
                        <td><input type="text" ng-model="ride.resultPosition" class="input-mini"/></td>
                    </tr>
                    </tbody>
                </table>
                </table>
            </form>

        </div>
        <div class="tab-pane" id="results">
            <div class="btn-toolbar">
                <div class="btn-group">
                    <button ng-click="resultButtonClicked(challengeRound, race)"
                            ng-repeat="challengeRound in challengeRounds" class="btn"
                            ng-class="getResultButtonClass(challengeRound)">{{$index + 1}}. závod
                    </button>
                </div>
                <div class="btn-group pull-right">
                    <button ng-click="printButtonClicked()" class="btn btn-primary">Tisk</button>
                    <button ng-click="exportButtonClicked()" class="btn">Export</button>
                </div>
            </div>
            <h3 class="only-print">Výsledky {{selectedResult - 1}}. závodu</h3>
            <table class="table table-condensed table-striped">
                <thead>
                <tr>
                    <th>Pořadí</th>
                    <th>Tým</th>
                    <th>Jezdec</th>
                    <th>Kára</th>
                    <th>Nejlepší čas</th>
                    <th>Body</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="result in results">
                    <td>{{$index + 1}}</td>
                    <td>{{result.team.name}}</td>
                    <td>{{result.driver.name + ' ' + result.driver.surname}}</td>
                    <td>{{result.kart.number}}</td>
                    <td>{{result.bestTime | RaceTime}}</td>
                    <td>{{maxPoints - $index}}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div ui-modal class="fade" ng-model="showExport" id="export">
            <div class="modal-body">
                <textarea ng-model="challengeResultsExport" rows="16" style="width: 510px"></textarea><br/>
            </div>
            <div class="modal-footer">
                <a class="btn" ng-click="exportCancelButtonClicked()">Zrušit</a>
            </div>
        </div>
    </div>

</div>