<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Kartchamp</title>

    <link href="/vendor/bootstrap-2.2.2/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }

        .sidebar-nav {
            padding: 9px 0;
        }
    </style>
    <link href="/vendor/bootstrap-2.2.2/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="/kartchamp/kartchamp.css" rel="stylesheet">

</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#">Kartchamp</a>

            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li><a active-link="active" href="/">Nástěnka</a></li>
                    <li><a active-link="active" href="/management/season">Správa šampionátu</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row-fluid">
    {{#block "sidebar_menu"}}
    {{/block}}

    {{#block "main"}}
    {{/block}}
    </div>
    <!--/row-->

    <hr>

    <footer>
        <p><a href="mailto:radim.hradecky@gmail.com">Radim Hradecký</a>, <a href="http://www.kartrace.cz">Kartrace o.s.</a> 2017
        </p>
    </footer>

</div>
<!--/.fluid-container-->


    <script src="/vendor/jquery-1.8.3/jquery-1.8.3.min.js"></script>
    <script src="/vendor/bootstrap-2.2.2/bootstrap.min.js"></script>
</body>
</html>
