<div class="span3 sidebar" ng-controller="MenuController">
    <div class="well sidebar-nav">
        <ul class="nav nav-list">
            <li class="nav-header">Správa šampionátu</li>
            <li><a active-link="active" href="#/management/season" ng-click="menuClicked()">Sezóna a závody</a></li>
            <li><a active-link="active" href="#/management/team" ng-click="menuClicked()">Týmy a soupisky</a></li>
            <li><a active-link="active" href="#/management/driver" ng-click="menuClicked()">Jezdci</a></li>
        </ul>
    </div>

</div><!--/span-->