<ng-include src="'/html/partials/management/menu.html'"></ng-include>

<div class="span9">
    <ul class="breadcrumb">
        <li><a href="#">Home</a> <span class="divider">/</span></li>
        <li class="active"><a href="#/management/season">Správa šampionátu</a> <span class="divider">/</span></li>
        <li class="active">Sezóna a závody</li>
    </ul>
</div>

<div class="span3">
    <h3>Sezóny</h3>
    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th>Název</th>
            <th>Rok</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="season in seasons" ng-click="seasonClicked(season)">
            <td>{{season.name}}</td>
            <td>{{season.year}}</td>
            <td><a class="btn pull-right" ng-click="editSeasonClicked(season)"><i class="icon-edit"></i></a></td>
        </tr>
        </tbody>
    </table>
    <a class="btn" ng-click="addSeasonClicked()"><i class="icon-plus"></i> Přidat</a>

    <div ui-modal class="fade" ng-model="showSeasonEdit" id="seasonEdit">
        <div class="modal-body">
            <form>
                <fieldset>
                    <legend>Editace sezóny</legend>
                    <label>Název sezóny</label>
                    <input type="text" ng-model="editedSeason.name"/>
                    <label>Rok</label>
                    <input type="number" ng-model="editedSeason.year"/>


                </fieldset>
            </form>
        </div>
        <div class="modal-footer">
            <a class="btn pull-left" ng-show="editedSeason.id" ng-click="deleteSeasonClicked()">Smazat</a>
            <a class="btn btn-primary" ng-click="saveSeasonClicked()">Uložit</a>
            <a class="btn" ng-click="cancelSeasonEditClicked()">Zrušit</a>
        </div>
    </div>
</div>

<div class="span6" ng-show="selectedSeason != null">
    <h3>Závody</h3>
    <table class="table  table-striped">
        <thead>
        <tr>
            <th>Název</th>
            <th>Datum</th>
            <th>Formát</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="race in seasonRaces">
            <td>{{race.name}}</td>
            <td>{{race.raceDate | date: 'mediumDate'}}</td>
            <td>{{raceFormats.idToLabel[race.raceType]}}</td>
            <td><a class="btn pull-right" ng-click="editRaceClicked(race)"><i class="icon-edit"></i></a></td>
        </tr>
        </tbody>
    </table>
    <a class="btn" ng-click="addRaceClicked()"><i class="icon-plus"></i> Přidat</a>

    <div ui-modal class="fade" ng-model="showRaceEdit" id="raceEdit">
        <div class="modal-body">
            <form>
                <fieldset>
                    <legend>Editace závodu</legend>
                    <label>Název závodu</label>
                    <input type="text" ng-model="editedRace.name"/>
                    <label>Typ závodu</label>
                    <select ng-model="editedRace.raceType"
                            ng-options="format.id as format.label for format in raceFormats.formatList"></select>
                    <label>Datum závodu</label>
                    <input type="text" ng-model="editedRace.raceDate" ui-date/>

                </fieldset>
            </form>
        </div>
        <div class="modal-footer">
            <a class="btn pull-left" ng-show="editedRace.id" ng-click="deleteRaceClicked()">Smazat</a>
            <a class="btn btn-primary" ng-click="saveRaceClicked()">Uložit</a>
            <a class="btn" ng-click="cancelRaceEditClicked()">Zrušit</a>
        </div>
    </div>
</div>