<ng-include src="'/html/partials/menu.html'"></ng-include>

<div class="span9">

    <ul class="breadcrumb">
        <li><a href="#">Home</a> <span class="divider">/</span></li>
        <li>{{race.name}} <span class="divider">/</span></li>
        <li class="active">Závod {{fairSprintsId}}</li>
    </ul>

    <ul class="nav nav-tabs">
        <li><a href="#home" data-toggle="tab">Zadání výsledků</a></li>
        <li class="active"><a href="#results" data-toggle="tab">Pořadí závodu</a></li>
    </ul>


    <div class="tab-content">
        <div class="tab-pane" id="home">
            <div class="btn-toolbar">
                <div class="btn-group">
                    <button ng-repeat="ride in rideFilterList" ng-click="rideButtonClicked(ride.id)" class="btn"
                            ng-class="getRideButtonClass(ride.id)">{{ride.label}}
                    </button>
                </div>
                <div class="btn-group">
                    <button ng-repeat="ride in rideFilterList2" ng-click="rideButtonClicked(ride.id)" class="btn"
                            ng-class="getRideButtonClass(ride.id)">{{ride.label}}
                    </button>
                </div>
            </div>
            <form name="form" class="css-form" novalidate>

                <table class="result-table table table-condensed table-striped">
                    <thead>
                    <th>Tým</th>
                    <th>Jezdec</th>
                    <th>Motokára</th>
                    <th>Nejlepší čas</th>
                    <th>Startovní pozice</th>
                    <th>Umístění</th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="ride in rideRounds[fairSprintRound][selectedRide]">
                        <td>{{ride.team.name}}</td>
                        <td>{{ride.driver.name + ' ' + ride.driver.surname}}</td>
                        <td>{{ride.kart.number}}</td>
                        <td>
                            <input type="text" ng-model="ride.bestTime" name="bestTime{{ride.id}}" class="input-small"
                                   ui-mask="'9:99:999'" tabindex="{{$index + 11}}"/>
                        </td>
                        <td><input type="text" ng-model="ride.startPosition" class="input-mini" disabled/></td>
                        <td><input type="text" ng-model="ride.resultPosition" class="input-mini" tabindex="{{$index + 1}}"/></td>
                    </tr>
                    </tbody>
                </table>
                </table>
            </form>

        </div>

        <div class="tab-pane active" id="results">
            <div class="btn-toolbar">
                <div class="btn-group pull-right">
                    <button ng-click="printButtonClicked()" class="btn btn-primary">Tisk</button>
                    <button ng-click="exportButtonClicked()" class="btn">Export</button>
                </div>
            </div>

            <table class="table table-condensed table-striped only-non-print">
                <thead>
                <tr>
                    <th>Pořadí</th>
                    <th>Tým</th>
                    <th>Jezdec</th>
                    <th>Kára</th>
                    <th>Nejlepší čas</th>
                    <th>Body</th>
                </tr>
                </thead>
                <tbody ng-repeat="raceRideResults in results | orderBy:'rideIndex'">
                <tr>
                    <td colspan="6"><h4>Rozjížďka {{raceRideResults[0].rideIndex}}</h4></td>
                </tr>
                <tr ng-repeat="result in raceRideResults">
                    <td>{{result.resultPosition}}</td>
                    <td>{{result.team.name}}</td>
                    <td>{{result.driver.name + ' ' + result.driver.surname}}</td>
                    <td>{{result.kart.number}}</td>
                    <td>{{result.bestTime | RaceTime}}</td>
                    <td>{{getPoints(result.resultPosition)}}</td>
                </tr>
                </tbody>
            </table>

            <div id="fairsprints-print" class="only-print">
                <h3>Výsledky {{fairSprintRound + 1}}. části závodu</h3>
                <table class="table table-condensed table-striped">
                    <thead>
                    <tr>
                        <th>Pořadí</th>
                        <th>Tým</th>
                        <th>Jezdec</th>
                        <th>Kára</th>
                        <th>Nejlepší čas</th>
                        <th>Body</th>
                    </tr>
                    </thead>
                    <tbody ng-repeat="raceRideResults in results | orderBy:'rideIndex'">
                    <tr>
                        <td colspan="6"><h4>Rozjížďka {{raceRideResults[0].rideIndex}}</h4></td>
                    </tr>
                    <tr ng-repeat="result in raceRideResults">
                        <td>{{result.resultPosition}}</td>
                        <td>{{result.team.shortName}}</td>
                        <td>{{result.driver.name + ' ' + result.driver.surname}}</td>
                        <td>{{result.kart.number}}</td>
                        <td>{{result.bestTime | RaceTime}}</td>
                        <td>{{getPoints(result.resultPosition)}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>


        </div>


        <div ui-modal class="fade" ng-model="showExport" id="export">
            <div class="modal-body">
                <textarea ng-model="fairSprintsResultsExport" rows="16" style="width: 510px"></textarea><br/>
            </div>
            <div class="modal-footer">
                <a class="btn" ng-click="exportCancelButtonClicked()">Zrušit</a>
            </div>
        </div>
    </div>

</div>